{{> user-nav previous-award='true'}}
<section class='award-wrapper'>
	<h1>Previously Issued Awards</h1>
	{{#if errorMssg}}
	<b>{{errorMssg}}</b>
	{{else}}
		<table class="table">
			<thead>
				<tr>
					<th>Date Issued</th>
					<th>Time Issued</th>
					<th>Issued To</th>
					<th>Certificate Type</th>
					<th>Delete Award</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.awardDate}}</td>
						<td><b>NEED TO ADD TO DB</b></td>
						<td>{{this.receiverName}}</td>
						<td>{{this.awardType}}</td>
						<td>
							<button>Delete</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{/if}}
</section>
<link rel="stylesheet" type="text/css" href="../public/awards.css">